$PrimaryColor: #3498db
$SecondaryColor: #0aff70
$FontFamily: 'Arial, sans-serif'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-behavior: smooth

body
    font-family: $FontFamily
    background-color: #929292
    height: 500vh

.main-banner
    display: grid
    grid-template-columns: 1fr
    .header-section
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        height: 5rem
        width: 80rem
        padding: 0 1.5rem
        border-radius: 15px
        background-color: #302929
        margin: 1rem auto 0 auto
        animation: slideDown 2s ease-in 1s forwards
        .nav-section
            .nav-list 
                display: flex
                flex-direction: row
                gap: 2rem
                .nav-item
                    font-size: 1.2rem
                    font-weight: 500
                    .nav-text
                        display: flex
                        flex-direction: column
                        gap: .25rem
                        .menu
                            padding-top: .5rem
                            padding-bottom: 0
                        .nav-line
                            display: block
                            width: 0
                            height: .1rem
                            background-color: transparent
                            transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out
                    &:hover .nav-line
                        width: 100%
                        background-color: $SecondaryColor
        .company-name
                color: white
                font-family: $FontFamily
                cursor: pointer
        .contact-btn
                color: #f4f4f4
                font-size: 1rem
                height: 2.5rem
                width: 8rem
                border: none
                border-radius: 10px
                background: $PrimaryColor
                transition: background 0.3s ease
        .contact-btn:hover
                font-weight: 600
                background: $SecondaryColor
                cursor: pointer
    .hero-banner
        display: grid
        grid-template-columns: 1fr 1fr
        border-bottom: 2px solid black
        .left-hero-banner
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin: 0 auto
            height: 89.5vh
            width: 100%
            animation: slideUp 2s ease-in 1.5s forwards
            .available-status-container
                display: flex
                flex-direction: row
                background-color: #302929
                align-self: flex-start
                width: 7.5rem
                border-radius: 10px
                padding: .5rem 1rem .5rem 1rem
                gap: .5rem
                margin-bottom: 1rem
                position: relative
                left: 20rem
                cursor: pointer
                .available-status-icon
                    height: 1rem
                    width: 1rem
                    border-radius: 50%
                    background-color: $SecondaryColor
                .available-status
                    color: $SecondaryColor
                    font-size: 1rem
                    font-weight: 500
            .hero-heading
                padding-left: 20rem
                width: 100%
                font-size: 4rem
                color: white
                align-self: center
            .sub-heading
                font-size: 1.25rem
                color: #2bff00
                padding-left: 3.45rem
                margin-top: .7rem
        .right-hero-banner
            .content-container
                display: flex
                flex-direction: column
                position: relative
                left: 3rem
                top: 6.5rem
                height: 60vh
                width: 62vh
                row-gap: .5rem
                .first-layer
                    display: grid
                    grid-template-columns: 1fr 21rem
                    height: 29rem
                    width: 100%
                    column-gap: .5rem
                    .first-layer-first-content
                        height: 100%
                        width: inherit
                        background-image: url('src/img/pexels-yankrukov-8837730.jpg')
                        background-size: cover
                        background-position: center
                        background-repeat: no-repeat
                        border-top-left-radius: 10px
                        border-bottom-left-radius: 10px
                    .first-layer-second-content
                        height: 100%
                        width: inherit
                        background-image: url('src/img/pexels-uncoveredlens-3620354.jpg')
                        background-size: cover
                        background-position: center
                        background-repeat: no-repeat
                        border-top-right-radius: 10px
                        border-bottom-right-radius: 10px
                .second-layer
                    display: grid
                    grid-template-columns: 21rem 1fr
                    height: 13rem
                    width: 100%
                    column-gap: .5rem
                    .second-layer-first-content
                        height: 100%
                        width: inherit
                        border: 2px solid blue
                        border-top-left-radius: 10px
                        border-bottom-left-radius: 10px
                    .second-layer-second-content
                        height: 100%
                        width: inherit
                        border: 2px solid white
                        border-top-right-radius: 10px
                        border-bottom-right-radius: 10px
@keyframes slideUp
    0%
        transform: translateY(100%)
        opacity: 0
    100%
        transform: translateY(0)
        opacity: 1

@keyframes slideDown
    0%
        transform: translateY(-100%)
        opacity: 0
    100%
        transform: translateY(0)
        opacity: 1

@keyframes slides
    from
        width: 0
    to
        width: 100%